= simple_form_for polymorphic_route_components(@model) do |f|
  = f.error_notification
  = render 'fields', f: f
  = f.submit "Save", class: "btn btn-primary btn-outline"
  = link_to "Cancel", polymorphic_route_components(model), class: "btn btn-link"